/*
Base Styles
*/
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
img {
    width: 100%;
}
body {
  background-color: $black;
}
h1,h2,h3,h4,h5,h6 {
  color: $cyan;
  font-family: $title;
  font-weight: $titleS;
}
p,li,a {
  color: $off-white;
  font-family: $text;
  font-weight: $textS;
}
