/*
Base Styles
*/
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
img {
    width: 100%;
}
body {
  background-color: $black;
}
h1,h2,h3,h4,h5,h6 {
  color: $cyan;
  font-family: $title;
  font-size: $titleS;
  @include MQ(M) {
    font-size: $titleM;
  }
  @include MQ(L) {
    font-size: $titleL;
  }
}
p,li,a {
  color: $off-white;
  font-family: $text;
  font-size: $textS;
  @include MQ(M) {
    font-size: $textM;
  }
  @include MQ(L) {
    font-size: $textL;
  }
}
