body {
	background-color: $black;
	color: $off-white;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	color: $cyan;
	font-family: $title;
}
p,
li,
a {
	color: $off-white;
	font-family: $text;
}
em {
	font-style: italic;
	color: lighten($off-white, 50%);
}
code {
	color: lighten($ocean-blue, 20%);
	font-family: monospace;
	border: 1px $ocean-blue solid;
	background-color: $dgray;
}
hr:nth-of-type(1) {
	background-color: $off-white;
}
//note-taker.html
.take_notes {
	color: $dgray;
}
.take_notes input {
	background-color: $off-white;
	text-indent: 5px;
	textarea {
		background-color: $off-white;
		text-indent: 5px;
		resize: none;
		overflow: scroll;
	}
}
#note_entry_area {
	text-indent: 5px;
}
.take_notes {
	background-color: $ocean-blue;
}
//notes.html
.notebook__note h2 {
	color: lighten($ocean-blue, 15%);
	text-shadow: -15px 20px 90px $cyan;
}
//todo challenge one
.todo {
	* {
		color: $black;
	}
	.todo__list {
		background-color: $off-white;
	}
	.todo__filter {
		background-color: $off-white;	
	}
}

