//color variables
$black: #0b0c10;
$dgray: #1f2833;
$off-white: #c5c6c7;
$cyan: #7488EC;
$ocean-blue: #45a29e;

//font sizes
$headings: h6 h5 h4 h3 h2 h1;
$font-base: .8rem;
$add-scale: 1;

//Font Families
$title: "Bangers", cursive;
$text: "David Libre", serif;

// breakpoints
$M: 600px;
$L: 1000px;
