//color variables
$black: #0B0C10;
$dgray: #1F2833;
$off-white: #C5C6C7;
$cyan: #66FCF1;
$ocean-blue: #45A29E;

//font sizes
$titleL: 2rem;
$titleM: 1.25rem;
$titleS: .8rem;
$textL: 1.25rem;
$textM: .8rem;
$textS: .4rem;

//Font Families
$title: 'Bangers', cursive;
$text: 'David Libre', serif;
