body {
    background-color: lavenderblush;
    color: maroon;
    text-align: center;
}
a {
    color: maroon;
    font-style: italic;
    text-decoration: none;
}
a:hover {
    color: black;
    font-weight: bold;
    text-decoration: underline;
}
ol {
    padding: 1rem;
    list-style-position: inside;
    font-size: 1.25rem;
    list-style-type: none;
    
}