@import url("https://fonts.googleapis.com/css2?family=Bangers&family=David+Libre&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@-webkit-keyframes tabWiggle {
  0% {
    border-radius: 5% 0 0 25%;
  }
  10% {
    border-radius: 10% 0 0 30%;
  }
  20% {
    border-radius: 15% 0 0 45%;
  }
  30% {
    border-radius: 20% 0 0 45%;
  }
  40% {
    border-radius: 25% 0 0 30%;
  }
  50% {
    border-radius: 25% 0 0 25%;
  }
  60% {
    border-radius: 20% 0 0 20%;
  }
  70% {
    border-radius: 15% 0 0 15%;
  }
  80% {
    border-radius: 10% 0 0 10%;
  }
  90% {
    border-radius: 5% 0 0 5%;
  }
  95% {
    border-radius: 8% 0 0 10%;
  }
  100% {
    border-radius: 10% 0 0 15%;
  }
}

@keyframes tabWiggle {
  0% {
    border-radius: 5% 0 0 25%;
  }
  10% {
    border-radius: 10% 0 0 30%;
  }
  20% {
    border-radius: 15% 0 0 45%;
  }
  30% {
    border-radius: 20% 0 0 45%;
  }
  40% {
    border-radius: 25% 0 0 30%;
  }
  50% {
    border-radius: 25% 0 0 25%;
  }
  60% {
    border-radius: 20% 0 0 20%;
  }
  70% {
    border-radius: 15% 0 0 15%;
  }
  80% {
    border-radius: 10% 0 0 10%;
  }
  90% {
    border-radius: 5% 0 0 5%;
  }
  95% {
    border-radius: 8% 0 0 10%;
  }
  100% {
    border-radius: 10% 0 0 15%;
  }
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

code {
  overflow: auto;
}

hr:nth-of-type(1) {
  position: absolute;
  width: 45vw;
  height: 0.4rem;
  left: 0;
  -webkit-box-shadow: -1px 1px 0px #c5c6c7, -3px 5px 5px #1f2833, -6px 10px 0px #c5c6c7, -9px 15px 5px #1f2833, -11px 20px 0px #c5c6c7, -13px 25px 5px #324153;
          box-shadow: -1px 1px 0px #c5c6c7, -3px 5px 5px #1f2833, -6px 10px 0px #c5c6c7, -9px 15px 5px #1f2833, -11px 20px 0px #c5c6c7, -13px 25px 5px #324153;
}

.hidden {
  display: none;
}

.drapes {
  overflow: hidden;
}

.drapes__lining {
  width: 100%;
}

.lining__panel {
  background-color: #0b0c10;
  height: 100vh;
  position: relative;
  float: left;
  z-index: 3;
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
}

.lining__panel--left {
  width: 85%;
  border-radius: 0 0% 30% 0;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.lining__panel h1 {
  font-size: calc(3rem + 2vw);
  -webkit-transform: rotate(-4.5deg);
          transform: rotate(-4.5deg);
  letter-spacing: 3px;
  text-shadow: 2px 2px 40px #45a29e;
  margin: 0.4rem;
  color: #85a9ff;
  background-color: transparent;
  border-left: none;
}

.lining__panel small {
  background-color: transparent;
  border: none;
}

@media only screen and (min-width: 600px) {
  .lining__panel small {
    font-size: 2rem;
  }
}

.panel__toggle {
  display: block;
  position: relative;
  z-index: 100;
  cursor: pointer;
}

.panel__toggle::before,
.panel__toggle::after {
  display: block;
  border-radius: 0% 100% 0% 100%;
  background-color: #c5c6c7;
  content: "";
  position: absolute;
  right: 14vw;
  width: calc(3rem + 2vh);
  top: calc(8rem + 4vh);
  z-index: 100;
  height: 1.5em;
  margin: 2em 0;
  -webkit-transform: rotate(40deg);
          transform: rotate(40deg);
}

.panel__toggle::after {
  -webkit-transform: rotate(10deg);
          transform: rotate(10deg);
  background-color: #85a9ff;
  -webkit-box-shadow: -15px 25px 85px #45a29e;
          box-shadow: -15px 25px 85px #45a29e;
}

.lining__cover {
  background-color: #1f2833;
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
}

.lining__content {
  background: #1f2833;
  position: absolute;
  z-index: 2;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: 2s ease-in;
  transition: 2s ease-in;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.lining__content div {
  margin: auto;
  margin-left: 1rem;
}

.lining__content div h1 {
  padding: 0;
  background-color: transparent;
  border-left: none;
}

.lining__content div small {
  background-color: transparent;
  border: none;
}

.content__index--special {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  width: 70vw;
  z-index: 3;
}

.content__index--special li {
  position: relative;
  cursor: pointer;
  padding: 0.7rem;
}

.content__index--special li:hover {
  -webkit-box-shadow: -5px 5px 29px #45a29e;
          box-shadow: -5px 5px 29px #45a29e;
  border-radius: 10% 0 0 0;
  -webkit-animation: tabWiggle 1.3s ease-in-out infinite;
          animation: tabWiggle 1.3s ease-in-out infinite;
  background-image: linear-gradient(-7deg, rgba(11, 12, 16, 0.9) 25%, rgba(11, 12, 16, 0.1) 50%, rgba(11, 12, 16, 0.9) 75%);
}

.content__index--txtr {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: right;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.lining__panel--left {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.slide {
  -webkit-transform: translateX(-120%);
          transform: translateX(-120%);
}

.take_notes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.show {
  display: none;
}

.note__content {
  display: -ms-grid;
  display: grid;
}

@media only screen and (min-width: 600px) {
  .note__content {
    -ms-grid-columns: minmax(200px, 1fr) minmax(200px, 1fr);
        grid-template-columns: minmax(200px, 1fr) minmax(200px, 1fr);
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .note__content .content__item--2cols {
    grid-column: span 2;
  }
}

@media only screen and (min-width: 1000px) {
  .note__content {
    -ms-grid-columns: minmax(350px, 1fr) minmax(350px, 1fr);
        grid-template-columns: minmax(350px, 1fr) minmax(350px, 1fr);
  }
}

.todo {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 1rem;
  width: 3rem;
  border: 3px #1f2833 outset;
}

.todo * {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.todo .todo__list {
  background-color: #c5c6c7;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr .1fr;
      grid-template-columns: 1fr .1fr;
}

.todo .todo__list * {
  border-bottom: 3px #45a29e outset;
}

.todo .todo__list button {
  width: 30px;
  margin-right: .2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #45a29e;
  background-color: #1f2833;
  border-bottom: 3px #45a29e outset;
}

.todo input[type="checkbox"] {
  height: 25px;
  width: 25px;
}

.todo .todo__filter {
  padding: .2rem;
  padding-top: .6rem;
  background-color: #c5c6c7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.todo .todo__filter div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.todo .todo__create {
  border-bottom: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin: .7rem 0 0 0;
}

.todo .todo__create * {
  border-bottom: none;
  height: 25px;
}

.todo .todo__create label, .todo .todo__create label input {
  width: 100%;
  margin-right: 2px;
}

.todo .todo__create input[type="button"] {
  color: #45a29e;
  background-color: #1f2833;
}

body {
  background-color: #0b0c10;
  color: #c5c6c7;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #7488EC;
  font-family: "Bangers", cursive;
}

p,
li,
a {
  color: #c5c6c7;
  font-family: "David Libre", serif;
}

em {
  font-style: italic;
  color: white;
}

code {
  color: #83cac7;
  font-family: monospace;
  border: 1px #45a29e solid;
  background-color: #1f2833;
}

hr:nth-of-type(1) {
  background-color: #c5c6c7;
}

.take_notes {
  color: #1f2833;
}

.take_notes input {
  background-color: #c5c6c7;
  text-indent: 5px;
}

.take_notes input textarea {
  background-color: #c5c6c7;
  text-indent: 5px;
  resize: none;
  overflow: scroll;
}

#note_entry_area {
  text-indent: 5px;
}

.take_notes {
  background-color: #45a29e;
}

.notebook__note h2 {
  color: #71c3bf;
  text-shadow: -15px 20px 90px #7488EC;
}

.todo * {
  color: #0b0c10;
}

.todo .todo__list {
  background-color: #c5c6c7;
}

.todo .todo__filter {
  background-color: #c5c6c7;
}

/*
Base Styles
*/
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

img {
  width: 100%;
  padding: 1.5em;
}

body {
  /*
	@include MQ(L) {
		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			font-size: calc(1rem + 1.4vw);
		}
		p,
		li,
		a {
			font-size: calc(1rem + 0.8vw);
			
		}
	}*/
}

body h1 {
  padding: .8rem;
  padding-bottom: .3rem;
}

body ul,
body li,
body a {
  padding: 0.2rem;
}

body ul li {
  list-style-type: circle;
  list-style-position: inside;
}

body a {
  text-decoration: none;
}

body p {
  padding: .2rem;
}

body a:hover {
  text-decoration: underline;
}

body header {
  width: 100%;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

body header h1 {
  background-color: #1f283977;
  border-left: 2.5px solid #45a29e;
}

body header small {
  display: block;
  padding-left: .8rem;
  padding-bottom: .8rem;
  background-color: #1f283977;
  border-radius: 85% 0% 0% 100% / 0% 50% 100% 100%;
  border: 2.5px solid #45a29e;
  border-top: none;
  border-right: none;
}

body nav ol li {
  position: fixed;
  z-index: 100;
  top: 4em;
  right: -145px;
  padding: 10px;
  padding-left: 100px;
  width: 200px;
  border-radius: 85% 0% 0% 100% / 0% 60% 100% 100%;
  -webkit-box-shadow: -1px 5px 1px #45a29e;
          box-shadow: -1px 5px 1px #45a29e;
  border: 4px solid #0b0c10;
  border-bottom: none;
}

body ol li a {
  display: block;
}

body nav ol li:hover {
  -webkit-transition: .5s;
  transition: .5s;
  right: 0;
  -webkit-box-shadow: -5px 5px 29px #45a29e;
          box-shadow: -5px 5px 29px #45a29e;
  padding-left: 15px;
  border-radius: 10% 0 0 0;
  -webkit-animation: tabWiggle 1.3s ease-in-out infinite;
          animation: tabWiggle 1.3s ease-in-out infinite;
  background-image: linear-gradient(-7deg, rgba(11, 12, 16, 0.9) 25%, rgba(11, 12, 16, 0.1) 50%, rgba(11, 12, 16, 0.9) 75%);
}

body form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body form li {
  list-style-type: none;
}

body form button {
  height: 100%;
}

body dl {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  list-style-type: circle;
}

@media only screen and (min-width: 600px) {
  body p,
  body li,
  body a {
    font-size: calc(1rem + 0.4vw);
  }
  body p {
    padding: 1rem;
  }
}

h6 {
  font-size: 0.8rem;
}

h5 {
  font-size: 1.12rem;
}

h4 {
  font-size: 1.44rem;
}

h3 {
  font-size: 1.76rem;
}

h2 {
  font-size: 2.08rem;
}

h1 {
  font-size: 2.4rem;
}

code {
  padding: 0.3rem;
  display: block;
  margin: 1rem;
}

.index__btn {
  background-color: #1f2839;
  padding: 12px;
  padding-left: 105px;
  cursor: pointer;
}

.take_notes input {
  margin-top: 5px;
  border: none;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 5px #1f2833 inset;
          box-shadow: 0px 0px 5px #1f2833 inset;
  height: 25px;
  width: 200px;
}

.take_notes input input:focus {
  outline: none;
}

.take_notes input textarea {
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  padding: 5px;
  -webkit-box-shadow: 0px 0px 5px #1f2833 inset;
          box-shadow: 0px 0px 5px #1f2833 inset;
  width: 90%;
  height: 150px;
}

#note_entry_area {
  width: 500px;
  padding-left: 5px;
  border: none;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 5px #1f2833 inset;
          box-shadow: 0px 0px 5px #1f2833 inset;
}

.take_notes {
  padding: 1rem;
}

.notebook {
  margin: 0 1rem 0 1rem;
  width: 80vw;
}

@media only screen and (min-width: 600px) {
  .notebook {
    margin: 0 3rem 0 3rem;
  }
}

@media only screen and (min-width: 1000px) {
  .notebook {
    margin: 0 6rem 0 6rem;
  }
}

.notebook__note {
  margin-top: calc(1.5rem + .5vh);
  padding: 1rem;
}

.notebook__note h2 {
  margin-top: calc(.5rem + .2vh);
  margin-bottom: .8rem;
  padding-left: 0.2rem;
  border-bottom: 25px #1f2833 double;
  border-radius: 0 100% 0 0;
  -webkit-box-shadow: 1px 6px 2px #45a29e;
          box-shadow: 1px 6px 2px #45a29e;
}

.notebook__note .note__img--scale:hover {
  -webkit-transition: 1s ease-in;
  transition: 1s ease-in;
  -webkit-transform: scale(3);
          transform: scale(3);
}

@media only screen and (min-width: 1000px) {
  .notebook__note .note__img--scale:hover {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
}

.notebook__note .ul__title {
  list-style-type: none;
  font-size: 1.5rem;
}

.todo h2 {
  color: #7488EC;
}

.todo {
  width: calc(260px + .8vw);
}

.todo .todo__list button {
  width: 30px;
  margin-right: .2rem;
  padding-bottom: 5px;
}

.todo .todo__list .hide {
  display: none;
}

.todo input[type="checkbox"] {
  height: 25px;
  width: 25px;
}

.todo .todo__filter {
  padding: .2rem;
  padding-top: .6rem;
}

.todo .completed {
  text-decoration: line-through;
}
/*# sourceMappingURL=styles.css.map */